@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //  <h4>ProductModel</h4>
    //<hr />
    //<dl class="row">
    //    Partial class here
    //    <dt class = "col-sm-2">
    //        @Html.DisplayNameFor(model => model.Name)
    //    </dt>
    //    <dd class = "col-sm-10">
    //        @Html.DisplayFor(model => model.Name)
    //    </dd>
    //    <dt class = "col-sm-2">
    //        @Html.DisplayNameFor(model => model.Stock)
    //    </dt>
    //    <dd class = "col-sm-10">
    //        @Html.DisplayFor(model => model.Stock)
    //    </dd>
    //    <dt class = "col-sm-2">
    //        @Html.DisplayNameFor(model => model.MerchantProductNo)
    //    </dt>
    //    <dd class = "col-sm-10">
    //        @Html.DisplayFor(model => model.MerchantProductNo)
    //    </dd>
    //</dl>
}
